.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  height: 150px;
  width: 100%;
  background-color: var(--mantine-primary-color-light-color);
  display: flex;
  align-items: center;
}

.headerForm {
  width: 100%;
}

.filters {
  margin: 20px 0;
}